/* ARQUIVO: configuracoes.css */

.config-panel {
    background-color: #0a0a0a;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto; /* Centraliza na tela */
}

.config-panel h3 {
    color: #FFD700;
    margin-top: 0;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: #ccc;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    outline: none;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #FFD700;
}

.row-dupla {
    display: flex;
    gap: 20px;
}
.row-dupla .input-group {
    flex: 1;
}

.btn-primary {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #e6c200;
}